{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILAU | Login</title>
</head>

<body>
    <h2>Silakan Masukan Email & Password Anda</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Login</button>
        {% if error %}
        <h1>Ada yang salah, mohon ulangi</h1>
        {% endif %}
    </form>
    <h3>Belum punya akun?</h3>
    <a href="/auth/register">
        <button>
            Register
        </button>
    </a>
</body>

</html>