
{% load static %}
{% if request.session.is_staf %}
{% include "base_staf_admin.html" %}
{% endif %}
{% if request.session.is_kurir %}
{% include "base_kurir.html" %}
{% endif %}
{% if request.session.is_user %}
{% include "base_pelanggan.html" %}
{% endif %}

{% if request.session.is_staf %}
<marquee>
        <h1 style="  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
        color: transparent;
      }">Selamat datang sebagai staf</h1>
    </marquee>
{% endif %}

{% if request.session.is_kurir %}
<marquee>
        <h1 style="  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
        color: transparent;
      }">Selamat datang sebagai kurir</h1>
    </marquee>
{% endif %}

{% if request.session.is_user %}
<marquee>
        <h1 style="  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
        color: transparent;
      }">Selamat datang yuk ngelaundry!!</h1>
    </marquee>
{% endif %}
