{% load static %}
{% if request.session.is_staf %}
{% include "base_staf_admin.html" %}
{% endif %}
{% if request.session.is_kurir %}
{% include "base_kurir.html" %}
{% endif %}
{% if request.session.is_user %}
{% include "base_pelanggan.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Transaksi</title>
</head>

<body>
    <h1>Update Transaksi</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">SUBMIT</button>
    </form>
</body>

</html>


