{% load static %}
{% if request.session.is_staf %}
{% include "base_staf_admin.html" %}
{% endif %}
{% if request.session.is_kurir %}
{% include "base_kurir.html" %}
{% endif %}
{% if request.session.is_user %}
{% include "base_pelanggan.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Transaksi</title>
</head>
<style type="text/css">
table {
  width: 50%;
  counter-reset: rowNum -1;
}
table tr {
  counter-increment: rowNum;
}
table tr td:first-child::before {
    content: counter(rowNum) ". ";
}
</style>

<body>
    <h1>Daftar Transaksi</h1>
    <table>
      <tr>
        <th>Email</th>
        <th>Tanggal</th>
        <th>Berat(kg)</th>
        <th>Total <br />Item</th>
        <th>Kode <br />Layanan</th>
        <th>Kode <br />Tarif</th>
        <th>Total Biaya</th>
        <th>Email Staff</th>
        <th>Email Kurir</th>
        {% if request.session.is_staf %}
        <th>Action</th>
        {% endif %}
      </tr>
        {% for transaksi_laundry in data %}
        <tr>
            <th>{{ transaksi_laundry.email}}</th>
            <th>{{ transaksi_laundry.tanggal}}</th>
            <th>{{ transaksi_laundry.berat}}</th>
            <th>{{ transaksi_laundry.total_item}}</th>
            <th>{{ transaksi_laundry.kode_layanan}}</th>
            <th>{{ transaksi_laundry.kode_tarif}}</th>
            <th>{{ transaksi_laundry.total_harga}}</th>
            <th>{{ transaksi_laundry.email_staf}}</th>
            <th>{{ transaksi_laundry.email_kurir_antar}}</th>
            {% if request.session.is_staf %}
            <td>
                <a href="update_transaksi/{{transaksi_laundry.email}},{{transaksi_laundry.tanggal}}">
                    <button>UPDATE</button>
                </a>
                <br>
                <a href="delete_transaksi/{{transaksi_laundry.email}},{{transaksi_laundry.tanggal}}">
                    <button>DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>

</body>
</html>

