{% load static %}
{% if request.session.is_staf %}
{% include "base_staf_admin.html" %}
{% endif %}
{% if request.session.is_kurir %}
{% include "base_kurir.html" %}
{% endif %}
{% if request.session.is_user %}
{% include "base_pelanggan.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Status Transaksi</title>
</head>
<style type="text/css">
table {
  width: 50%;
  counter-reset: rowNum -1;
}
table tr {
  counter-increment: rowNum;
}
table tr td:first-child::before {
    content: counter(rowNum) ". ";
}
</style>

<body>
    <h1>Daftar Status Transaksi</h1>
    <table>
      <tr>
        <th>Email</th>
        <th>Tanggal</th>
        <th>Kode Status</th>
        <th>Timestamp</th>
        {% if request.session.is_staf %}
        <th>Action</th>
        {% endif %}
      </tr>
      {% for status_transaksi in data %}
          <tr>
            <th>{{ status_transaksi.email}}</th>
            <th>{{ status_transaksi.tanggal_transaksi}}</th>
            <th>{{ status_transaksi.kode_status}}</th>
            <th>{{ status_transaksi.timestamp}}</th>
            {% if request.session.is_staf %}
            <td>
                <a href="{% url 'transaksilaundry:update_status' email=status_transaksi.email tanggal_transaksi=status_transaksi.tanggal_transaksi %}">
                    <button>UPDATE</button>
                </a>
                <br>
                <a href="{% url 'transaksilaundry:delete_status' email=status_transaksi.email tanggal_transaksi=status_transaksi.tanggal_transaksi %}">
                    <button>DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
  </table>
</div>

</body>
</html>
