{% load static %}
{% if request.session.is_staf %}
{% include "base_staf_admin.html" %}
{% endif %}
{% if request.session.is_kurir %}
{% include "base_kurir.html" %}
{% endif %}
{% if request.session.is_user %}
{% include "base_pelanggan.html" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Layanan</title>
</head>

<style type="text/css">
table {
  width: 50%;
  counter-reset: rowNum -1;
}
table tr {
  counter-increment: rowNum;
}
table tr td:first-child::before {
    content: counter(rowNum) ". ";
}
</style>

<body>
    <div class="container">
    <h1>Display Layanan</h1>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Kode Layanan</th>
            <th>Nama Layanan</th>
            <th>Durasi (Menit)</th>
            <th>Harga (Per Kg)</th>
            {% if request.session.is_staf %}
            <th>Action</th>
            {% endif %}
        </tr>
        </thead>
        {% for item in data %}
        <tbody>
        <tr>
            <td></td>
            <td>{{ item.kode}}</td>
            <td>{{ item.nama }}</td>
            <td>{{ item.durasi }}</td>
            <td>{{ item.harga }}</td>
            {% if request.session.is_staf %}
            <td>
                <a href="update/{{item.kode}}">
                    <button class="btn btn-warning">UPDATE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        </tbody>
        {% endfor %}

    </table>
    </div>
</body>

</html>