body {
  margin: 0;
  padding: 0;
}
.container-me {
  display: flex;
  flex-direction: column;
  backdrop-filter: grayscale(100%);
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.kerja {
  font-size: 5em;
  font-weight: bold;
}

.button {
  text-decoration: none;
  width: 4em;
  height: 2em;
  background-color:black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}