{% load static %}
{% if request.session.is_staf %}
{% include "base_staf_admin.html" %}
{% endif %}
{% if request.session.is_kurir %}
{% include "base_kurir.html" %}
{% endif %}
{% if request.session.is_user %}
{% include "base_pelanggan.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Item</title>
</head>



<body>
    <div class="container">
    <h1>Display Item</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Kode Item</th>
            <th>Nama Item</th>
        </tr>
        </thead>
        {% for item in data %}
        <tbody>
        <tr>
            <td>{{ item.kode }}</td>
            <td>{{ item.nama }}</td>
        </tr>
        </tbody>
        {% endfor %}

    </table>
    </div>
</body>

</html>