{% if request.session.is_staf %}
{% include "base_staf_admin.html" %}
{% endif %}
{% if request.session.is_kurir %}
{% include "base_kurir.html" %}
{% endif %}
{% if request.session.is_user %}
{% include "base_pelanggan.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List TOPUP DPAY</title>
</head>

<body>
    <div class="container">
    <h1>List TOPUP DPAY</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Tanggal</th>
            <th>Nominal</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for datum in data %}
        <tbody>
        <tr>
            <td>{{ datum.email }}</td>
            <td>{{ datum.tanggal }}</td>
            <td>{{ datum.nominal }}</td>
            <td>
                <a href="update/{{datum.email}}/{{datum.tanggal}}/{{datum.nominal}}">
                    <button class="btn btn-warning">UPDATE</button>
                </a>
                {% if request.session.is_staf %}
                <br>
                <a href="delete/{{datum.email}}/{{datum.tanggal}}/{{datum.nominal}}">
                    <button class="btn btn-danger">DELETE</button>
                </a>
                {% endif %}
            </td>
        </tr>
        </tbody>
        {% endfor %}

    </table>
    </div>
</body>

</html>