{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<title>SILAU</title>
<!-- Start of page content -->
<!-- Text landing -->
<div class="container-me">
    <div class="kerja">SILAU</div>
    
    <a href="/auth/login" class="button">
        <div>
            Login
        </div>
    </a>
    <br>
    <a href="/auth/register" class="button">
        <div>
            Register
        </div>
    </a>
</div>