{% load static %}
{% if request.session.is_staf %}
{% include "base_staf_admin.html" %}
{% endif %}
{% if request.session.is_user %}
{% include "base_pelanggan.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Daftar Laundry</title>
</head>

<style type="text/css">
table {
  width: 50%;
  counter-reset: rowNum -1;
}
table tr {
  counter-increment: rowNum;
}
table tr td:first-child::before {
    content: counter(rowNum) ". ";
}
</style>

<body>
    <div class="container">
    <h1>Display Daftar Laundry</h1>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Email</th>
            <th>Tanggal Transaksi</th>
            <th>No Urut</th>
            <th>Jumlah Item</th>
            <th>Kode Item</th>
            {% if request.session.is_staf %}
            <th>Action</th>
            {% endif %}
        </tr>
        </thead>
        {% for item in data %}
        <tbody>
        <tr>
            <td></td>
            <td>{{ item.email }}</td>
            <td>{{ item.tanggal_transaksi }}</td>
            <td>{{ item.no_urut }}</td>
            <td>{{ item.jumlah_item }}</td>
            <td>{{ item.kode_item}}</td>
            {% if request.session.is_staf %}
            <td>
                <a href="update/{{item.email}}/{{item.tanggal_transaksi}}/{{item.no_urut}}">
                    <button class="btn btn-warning">UPDATE</button>
                </a>
                <br>
                <a href="delete/{{item.email}}/{{item.tanggal_transaksi}}/{{item.no_urut}}">
                    <button class="btn btn-danger">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        </tbody>
        {% endfor %}

    </table>
    </div>
</body>

</html>