{% load static %}
{% if request.session.is_staf %}
{% include "base_staf_admin.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Daftar Laundry</title>
</head>

{% load crispy_forms_tags %}
<body>
    <div class='container'>
    <h1>Update Daftar Laundry</h1>
    <form action="" method="post">
        {%csrf_token%}
        <div class='row'>
            <div class='col-8'>
            {{form|crispy}}
            </div>
        </div>
        <br>
        <button type="submit" class='btn btn-primary'>
            UPDATE
        </button>
        <br>
    </form>
</div>
</body>

<script>

</script>

</html> 